[Unit]
Description=Kharon - Smart cluster access proxy
Requires=kharon.socket
After=network.target

[Service]
Environment="SSH_AUTH_SOCK=%t/gcr/ssh"
ExecStart=%h/workspace/kharon/kharon proxy -v=-10 --on-demand=systemd=kharon.socket

[Install]
WantedBy=default.target
