<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.vshn.Kharon</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>EnvironmentVariables</key>
	<dict>
		<!-- Required for the daemon to find its cache dir -->
		<key>HOME</key>
		<string>/Users/USER</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/USER/workspace/kharon/kharon</string>
		<string>proxy</string>
		<string>-on-demand=launchd=Proxy</string>
		<string>-v=-10</string>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/USER/Library/Logs/io.vshn.Kharon.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/USER/Library/Logs/io.vshn.Kharon.err.log</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>Sockets</key>
	<dict>
		<key>Proxy</key>
		<dict>
			<key>SockNodeName</key>
			<string>localhost</string>
			<key>SockServiceName</key>
			<string>12000</string>
			<key>SockType</key>
			<string>stream</string>
			<key>SockFamily</key>
			<string>IPv4v6</string>
		</dict>
	</dict>
</dict>
</plist>
