<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>io.vshn.Kharon</string>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/USER/workspace/kharon/kharon</string>
		<string>/Users/USER/workspace/kharon/domain_jumphost_mapping.json</string>
	</array>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Users/USER/Library/Logs/io.vshn.Kharon.out.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/USER/Library/Logs/io.vshn.Kharon.err.log</string>
	<key>ProcessType</key>
	<string>Interactive</string>
</dict>
</plist>
