[Unit]
Description=Kharon - Smart cluster access proxy
Requires=kharon.socket
After=network.target

[Service]
Environment="SSH_AUTH_SOCK=%t/gcr/ssh"
ExecStart=%h/workspace/kharon/kharon -v=-10 -on-demand=systemd=kharon.socket %h/workspace/kharon/domain_jumphost_mapping.json

[Install]
WantedBy=default.target
